USE [master]
GO
/****** Object:  Database [NewsLetterDB]    Script Date: 10/07/2022 20:25:28 ******/
CREATE DATABASE [NewsLetterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewsLetterDB', FILENAME = N'C:\Users\ranie\NewsLetterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewsLetterDB_log', FILENAME = N'C:\Users\ranie\NewsLetterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewsLetterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewsLetterDB]
GO
/****** Object:  Table [dbo].[ReceiveNews]    Script Date: 10/07/2022 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiveNews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [varchar](250) NOT NULL,
	[email] [varchar](250) NOT NULL,
 CONSTRAINT [PK_ReceiveNews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
